/* Estilo para o header */
header {
    background-color: #82a47d;
    color: #333;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
}

header h1 {
    margin: 0;
    flex-grow: 1;
    text-align: center;
    width: 100%;
}

header .icon {
    width: 24px;
    height: 24px;
    margin-left: 20px;
}

header .icons-container {
    display: flex;
    align-items: center;
    margin-right: 40px; /* Margem leve da direita */
}